<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Rejestracja zakończona powodzeniem!</h2>
        <p>Możesz teraz zalogować się na swoje konto</p>
        <hr />
        <h5>Życzymy udanych zakupów!</h5>
    </div>
</div>