@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Keybo<span class="text-warning">Art</span> <i class="bi bi-keyboard" style="font-size: 3.5rem;"></i></h1>
    <h5 class="text-justify text-center text-secondary font-italic m-3 letter-spa" style="letter-spacing: 1px;">
        W naszym sklepie mamy do zaoferowania gotowe, starannie składane zestawy typu "custom",
        oraz wszystkie potrzebne części do zaprojektowania i stworzenia swojej własnej, wymarzonej klawiatury!
    </h5>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="alert-link text-black-50" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Keyboards">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/a_k_360x.jpg?v=1647314363" alt="Klawiatury" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Klawiatury</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="text-black-50 alert-link" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Switches">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/switches_360x.jpg?v=1647314272" alt="Przełączniki" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Przełączniki</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="text-black-50 alert-link" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Cases">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/plate_360x.jpg?v=1647314308" class="" alt="Obudowy" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Obudowy</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="text-black-50 alert-link" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Keycaps">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/keycaps_360x.jpg?v=1647314436" alt="Nasadki" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Nasadki</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="alert-link text-black-50" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Plates">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/pcb_360x.jpg?v=1647314289" alt="PCB" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Płyty PCB</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a class="alert-link text-black-50" style="font-size: 1.1rem;" asp-area="" asp-controller="ProductsFilter" asp-action="Accesories">
                    <img src="https://cdn.shopify.com/s/files/1/1473/3902/collections/accessories_360x.jpg?v=1647314336" alt="Akcesoria" style="width:100%">
                    <div class="caption">
                        <p class="text-uppercase text-dark" style="font-size: 1.4rem;">Akcesoria</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
