<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Pomyślnie złożono zamówienie</h2>
        <p>Możesz sprawdzić złożone zamówienia na swoim profilu w sekcji "Zamówienia"</p>
        <hr />
        <p>Dziękujemy za wybór naszego sklepu!</p>
    </div>
</div>